<div class="test">
    <h1>Numerals to Roman</h1>
    <p>Enter numeric value to convert to Roman Number</p>
    <form (ngSubmit)="onSubmit()" #testForm="ngForm">
        <input type="number" [(ngModel)]="numericVal" name="numericVal" required
            aria-label="Enter numeric value to convert to Roman"
            placeholder="Enter numeric value to convert to Roman" />
        <button type="submit" [disabled]="!testForm.form.valid">Submit</button>
    </form>
    <p *ngIf="romanValue">Your Roman Numeral value is <span>{{romanValue}}</span></p>
</div>